/* GENERAL */

#board {
    width: 800px;
    height: 800px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#square {
    width: calc(100% / 800px);
    height: calc(100% / 800px);
}

.no-click {
    pointer-events: none;
}