/* GENERAL */

body {
    background-color: #8B8B8B;
}

#board {
    background-color: #C2C2C2;
}

#square {
    width: calc(100% / 800px);
    height: calc(100% / 800px);
}

.no-click {
    pointer-events: none;
}